<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="icon" href="https://i.postimg.cc/3NT88nN4/home.png">
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
    main {
      background: #6610f2;
    }
    .container {
      max-width: 1300px;
      width: 100%;
      margin: 0 auto;
    }
    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 60px;
    }
    .nav_logo {
      padding: 10px 0;
    }
    .menu_items {
      display: flex;
      list-style: none;
      gap: 20px;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    .display {
      position: relative;
      min-height: 100vh;
      width: 100%;
      background-position: 10px 10px, bottom 215px right 10px, left 55% top -1%, left 45% bottom -1px;
      background-repeat: no-repeat;
    }
    .display .row {
      display: flex;
      align-items: center;
      min-height: 100vh;
      height: 100%;
      width: 100%;
      padding: 0 60px;
      gap: 30px;
      justify-content: space-between;
    }
    .display .row h2,
    .display .row p {
      color: #fff;
    }
    .display .row h2 {
      font-size: 36px;
      margin-bottom: 16px;
    }
    .display .column {
      border: ;
      width: 50%;
    }
    #menu_toggle {
      display: none;
    }
    .column {
      padding: 50px;
      {{!-- border: 2px solid #f2f2f2ff; --}}
    }
    @media (max-width: 860px) {
      #menu_toggle {
        display: block;
      }
      .nav {
        padding: 0 20px;
      }
      .menu_items {
        position: fixed;
        top: 0;
        width: 260px;
        background-color: #fff;
        height: 100%;
        left: -100%;
        padding: 50px 30px 30px;
        flex-direction: column;
        transition: all 0.5s ease;
      }
      .showMenu .menu_items {
        left: 0;
      }
      a {
        color: #333;
      }
      #menu_toggle {
        width: 20px;
        cursor: pointer;
      }
      .menu_items #menu_toggle {
        position: absolute;
        top: 20px;
        right: 20px;
      }
      .display {
        padding-top: 130px;
      }
      .display .row {
        flex-direction: column;
        padding: 0 20px;
        justify-content: center;
      }
      .display .row .column {
        width: 100%;
      }
    }
    @media (max-width: 600px) {
      .display {
        padding-top: 80px;
      }
    }
     .buttons {
        margin-top: 20px;
    }

     .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #fff;
        color: #6610f2;
        border: 2px solid #fff;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
        border-radius: 5px;
        font-weight: bold;
        margin-right: 10px;
    }

     .btn:hover {
        background-color: #6610f2;
        color: #fff;
    }
    h1 {
      color: #fff;
      font-size: 35px;
    }
    h2 {
      font-size: 20px;
    }

    .nav_link {
      display: inline-block;
      padding: 6px 12px;
      background-color: #fff;
      color: #6610f2;
      border: 2px solid #fff;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;
      border-radius: 5px;
      font-weight: bold;
    }
    .nav_link:hover {
      background-color: #6610f2;
      color: #fff;
    }
    .nav {
      border-style: none none solid none;
      border-color: #f2f2f2ff;
    }
    
  </style>
</head>
<body>
  <main>
    <header>
      <br>
      <nav class="nav container">
        <h1 class="nav_logo">Home Page</h1>
        <ul class="menu_items">
          <li><a href="/home" class="nav_link">Home</a></li>
          <li><a href="" class="nav_link">About</a></li>
          <li><a href="" class="nav_link">Service</a></li>
          <li><a href="mailto:sarankumars053@gmail.com" class="nav_link">Contact</a></li>
          <li><a href="/logout" class="nav_link" onclick="return confirm('Are You Sure Want To Logout ?')" >Logout</a></li>
        </ul>
      </nav>
    </header>
    <section class="display">
      <div class="row container">
        <div class="column">
          <h2>Welcome to Our Website!</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, architecto? Consectetur enim obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum voluptates dolorum optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!</p>
          <div class="buttons">
            <a href="/userList" class="btn">Show Users List</a>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
