<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="icon" href="https://i.postimg.cc/DZ2bqxgZ/home.png">
    <title>Home</title>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- VARIABLES ----- */
:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(30, 159, 171);

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: #3d6ef5ff;
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}

/* ----- BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ----- SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}


/* ---##-- REUSABLE CSS --##--- */

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn{
    padding: 10px 18px;
    background: #efefef;
    border: none;
    font-weight: bold;
    border: 2.5px solid #3d6ef5ff;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background: #3d6ef5ff;
    font-weight: bold;
    color: var(--color-white);
}

/* ----- GLOBAL ICONS DESIGN ----- */
i{
    font-size: 16px;
}
a {
    color: #3d6ef5ff;
    text-decoration: none;
}

/* ------- BASE -------- */
body{
    background: var(--body-color);
}
.container{
    width: 100%;
    position: relative;
}

/* ----- NAVIGATION BAR ----- */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.nav-logo{
   position: relative;
}
.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: #3d6ef5ff;
}
.nav-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-color-second);
}
.nav-menu, .nav_menu_list{
    display: flex;
}
.nav-menu .nav_list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: bold;
    font-size: 16px;
    padding-inline: px;
    margin-inline: 20px;
}
.nav-link:hover{
  color: #3d6ef5ff;
  font-size: 17px;
  transition: .3s;
}
.nav-menu-btn{
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}

/* ----- WRAPPER DESIGN ----- */
.wrapper{
    padding-inline: 10vw;
}

/* ----- FEATURED BOX ----- */
.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.featured-text-card span{
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}
.featured-name{
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
}
.name{
  color: #3d6ef5ff;
}
.typedText{
    text-transform: capitalize;
    color: var(--text-color-third);
}
.featured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}
.featured-text-btn{
    display: flex;
    gap: 20px;
}
.featured-text-btn>.blue-btn{
    background: var(--first-color);
    color: var(--color-white);
}
.featured-text-btn>.blue-btn:hover{
    background: var(--first-color-hover);
}
.social_icons{
    display: flex;
    margin-top: 5em;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.icon:hover{
    color: var(--first-color);
}

/* ----- FEATURED IMAGE BOX ----- */
.featured-image{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}
@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}
.scroll-btn{
   position: absolute;
   bottom: 0;
   left: 50%;
   translate: -50%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 50px;
   gap: 5px;
   text-decoration: none;
   color: var(--text-color-second);
   background: var(--color-white);
   border-radius: 30px;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.scroll-btn i{
    font-size: 20px;
}

/* ----- MAIN BOX ----- */
.section{
    padding-block: 5em;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.col{
    display: flex;
    width: 50%;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1{
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}
.top-header span{
    color: #999;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}

/* ----- ABOUT INFO ----- */
.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
}
.about-info p{
    text-align: center;
    font-size: 15px;
    color: #777;
}
.about-btn button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #3d6ef5ff;
    color: var(--color-white);
    border-radius: 30px;
}
.about-btn button:hover{
    color: #3d6ef5ff;
    background: #f2f2f2;
}

/* ----- ABOUT / SKILLS BOX ----- */
.skills-box{
    margin: 10px;
}
.skills-header{
    margin-bottom: 30px;
    text-align: center;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.skills-list span{
    font-size: 14px;
    background: #3d6ef5ff;
    color: var(--color-white);
    padding: 2px 10px;
    border-radius: 5px;
}



/* ----- CONTACT BOX ----- */
.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    color: #3d6ef5ff;
    height: 315px;
    background: #f2f2f2;
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.contact-info>h2{
    color: #3d6ef5ff;
    margin-bottom: 20px;
}
.contact-info>p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #3d6ef5ff;
    margin-block: 5px;
}
.contact-info p>i{
    font-size: 18px;
    font-weight: bold;
}
.contact-info:hover{
    background: #3d6ef5ff;
    font-weight: bold;
    color: var(--color-white);
    transition: background-color 0.3s, color 0.3s;
}
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i{
    color: #f2f2f2;
    font-weight: bold;
    color: var(--color-white);
}

/* ----- CONTACT FORM ----- */
.form-control{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.form-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}
.input-field{
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding-inline: 20px;
    margin-bottom: 10px;
    outline: none;
}
textarea{
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    resize: none;
}
.form-button>.btn{
    font-weight: bold;
    padding: 8px 16px;
    background: #3d6ef5ff;
    border: none;
    border: 2.5px solid #3d6ef5ff;
    color: #efefef;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}
.form-button>.btn:hover{
    background: #efefef;
    font-weight: bold;
    color: #3d6ef5ff;
}
.form-button>i{
    margin-left: 10px;
}
.form-button i{
    font-size: 18px;
    rotate: -45deg;
}

/* ----- FOOTER BOX ----- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: #F8F8F8;
    padding-block: 40px 60px;
}
.top-footer p{
    font-size: 25px;
    font-weight: 600;
}
.middle-footer .footer-menu{
    display: flex;
}
.footer_menu_list{
    list-style: none;
}
.footer_menu_list a{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: bold;
    margin-inline: 20px;
}
.footer_menu_list a:hover{
  color: #3d6ef5ff;
}
.footer-social-icons{
    display: flex;
    gap: 30px;   
}
.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
}



/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px){
    .featured-text{
        padding: 0;
    }
    .image, .image img{
        width: 320px;
        height: 320px;
    }
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        left: 0;
    }
    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }
    .nav_menu_list{
        flex-direction: column;
    }
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .social_icons{
        margin-top: 2em;
    }
    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .image, .image img{
        width: 150px;
        height: 150px;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-info, .contact-info{
        width: 100%;
    }
    .project-container{
        justify-content: center;
    }
    .project-box{
        width: 80%;
    }

}

/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */

@media only screen and (max-width: 540px){
    .featured-name{
        font-size: 40px;
    }
    .project-box{
        width: 100%;
    }
    .form-inputs{
        flex-direction: column;
    }
    .input-field{
        width: 100%;
    }
}
    </style>
</head>
<body>
   <div class="container">
    <!-- --------------- HEADER --------------- -->
      <nav id="header">
        <div class="nav-logo">
            <p class="nav-name">Saranku<a href="/messages">m</a>ar</p>
        </div>
        <div class="nav-menu" id="myNavMenu">
            <ul class="nav_menu_list">
                <li class="nav_list">
                    <a href="#home" class="nav-link active-link">Home</a>
                    <div class="circle"></div>
                </li>
                <li class="nav_list">
                    <a href="#about" class="nav-link">About</a>
                    <div class="circle"></div>
                </li>
                <li class="nav_list">
                    <a href="#projects" class="nav-link">Projects</a>
                    <div class="circle"></div>
                </li>
                <li class="nav_list">
                    <a href="#contact" class="nav-link">Contact</a>
                    <div class="circle"></div>
                </li>
                <li class="nav_list">
                    <a href="/logout" class="nav-link" onclick="return confirm('Are You Sure Want To Sign Out ?')">Sign Out</a>
                    <div class="circle"></div>
                </li>

            </ul>
        </div>
        <div class="nav-button">
            <button class="btn" id="sendMail">Send Mail<i class="uil uil-envelope"></i> </button>
        </div>
        <div class="nav-menu-btn">
            <i class="uil uil-bars" onclick="myMenuFunction()"></i>
        </div>
      </nav>

    <!-- -------------- MAIN ---------------- -->
    <main class="wrapper">
       <!-- -------------- FEATURED BOX ---------------- -->
       <section class="featured-box" id="home">
          <div class="featured-text">
            <div class="featured-text-card">
                <span>Hello</span>
            </div>
            <div class="featured-name">
                <p>I'm <span class="name">Sarankumar</span></p>
                <p>Backend Developer<span class="typedText"></span></p>
            </div>
            <div class="featured-text-info">
                <p>I'm a backend developer specializing in Node.js, Express.js, and MongoDB, with a focus on scalable applications. Passionate about contributing to innovative projects and eager to grow in a professional environment.
                </p>
            </div>

          <div class="featured-text-btn">
                <a href="/userList" class="btn">Show User List</a>
                <a href="https://drive.google.com/uc?export=download&id=1sh4g0YS4M82QA5He2lvikUtsdm_9vF7z" download="Sarankumar-CV">
                <button class="btn">Download CV <i class="uil uil-file-alt"></i></button></a>
          </div>
          
            
            <div class="social_icons">
                <div class="icon"><a href="https://www.instagram.com/iam_grim05/" target=”_blank”><i class="uil uil-instagram"></i></a></div>
                <div class="icon"><a href="https://www.linkedin.com/in/sarankumars07/" target=”_blank”><i class="uil uil-linkedin-alt"></i></a></div>
                <div class="icon"><a href="https://crud-5741.onrender.com/home" target=”_blank”><i class="uil uil-dribbble"></i></a></div>
                <div class="icon"><a href="https://github.com/iamgrim07/Grim" target=”_blank”><i class="uil uil-github-alt"></i></a></div>
            </div>
          </div>
          <div class="featured-image">
            <div class="image">
                <img src="https://i.postimg.cc/sDn6tSfm/sk.webp" alt="avatar">
            </div>
          </div>
       </section>

        <!-- -------------- ABOUT BOX ---------------- -->
       <section class="section" id="about">
          <div class="top-header">
            <h1>About Me</h1>
          </div>
          <div class="row">
            <div class="col">
                <div class="about-info">
                    <h3>My introduction</h3>
                    <p>I am a backend developer with a solid understanding of JavaScript, Node.js, Express.js, and MongoDB. My passion lies in creating robust server-side solutions for web applications. I am eager to apply my skills in a professional environment, where I can contribute to innovative projects and continue learning and growing as a developer.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="skills-box">
                    <div class="skills-header">
                        <h3>Skills</h3>
                    </div>
                    <div class="skills-list">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>JavaScript</span>
                        <span>Node Js</span>
                        <span>Express</span>
                        <span>MongoDB</span>
                    </div>
                </div>
            </div>
          </div>
       </section>

       <!-- -------------- PROJECT BOX ---------------- -->
       <section class="section" id="projects">
          <div class="top-header">
            <h1>Projects</h1>
          </div>
          <div class="row">
            <div class="col">
                <div class="about-info">
                    <h3>CRUD Operations</h3>
                    <p>The project incorporates CRUD (Create, Read, Update, Delete) operations for effective data management. Create adds new records, Read retrieves existing data, Update modifies records, and Delete removes data. These operations are essential for maintaining and manipulating data, ensuring efficient data handling and storage within the project's database.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="about-info">
                    <h3>Form Validation ( Sign Up and Sign in )</h3>
                    <p>The project includes a signup feature with form validation to ensure accurate user input. It also implements a two-step verification process for enhanced security, requiring users to confirm their identity through a code sent to their registered email or phone. Additionally, the system integrates user authentication and database management, enabling secure signin and data storage for a comprehensive user experience.
                    </p>
                </div>
            </div>
            {{!-- <div class="col">
                <div class="skills-box">
                    <div class="skills-header">
                        <h3>Skills</h3>
                    </div>
                    <div class="skills-list">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>JavaScript</span>
                        <span>Node Js</span>
                        <span>Express</span>
                        <span>MongoDB</span>
                    </div>
                </div>
            </div> --}}
          </div>
       </section>

       <!-- -------------- CONTACT BOX ---------------- -->

       <section class="section" id="contact">
          <div class="top-header">
            <h1>Contact</h1>
            <span></span>
          </div>
          <div class="row">
             <div class="col">
                <div class="contact-info">
                    <h2>Find Me <i class="uil uil-corner-right-down"></i></h2>
                    <p><i class="uil uil-envelope"></i> Email: iamsarankumars@gmail.com</p>
                    <p><i class="uil uil-phone"></i> Phone : +91 6382384957</p>
                </div>
             </div>
             <div class="col">
                <div class="form-control">
             <form action="contactUs/submit-form" method="post">
                    <div class="form-inputs">
                        <input type="text" name="name" class="input-field" placeholder="Name" required>
                        <input type="email" name="email" class="input-field" placeholder="Email" required>
                    </div>
                    <div class="text-area">
                        <textarea name="message" placeholder="Message" required></textarea>
                    </div>
                    <div class="form-button">
                        <button type="submit" class="btn">Send Message<i class="uil uil-message"></i></button>
                    </div>
             </form>
                </div>
             </div>
             </form>
          </div>
       </section>

    </main>

    <!-- --------------- FOOTER --------------- -->
    <footer>
        <div class="top-footer">
            <p style="color: #3d6ef5ff;">Sarankumar<span style="color: rgb(50, 47, 47);">.</span></p>
        </div>
        <div class="middle-footer">
            <ul class="footer-menu">
                <li class="footer_menu_list">
                    <a href="#home">Home</a>
                </li>
                <li class="footer_menu_list">
                    <a href="#about">About</a>
                </li>
                <li class="footer_menu_list">
                    <a href="#projects">Projects</a>
                </li>
                <li class="footer_menu_list">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="footer-social-icons">
            <div class="icon"><a href="https://www.instagram.com/iam_grim05/" target=”_blank”><i class="uil uil-instagram"></i></a></div>
                <div class="icon"><a href="https://www.linkedin.com/in/sarankumars07/" target=”_blank”><i class="uil uil-linkedin-alt"></i></a></div>
                <div class="icon"><a href="https://crud-5741.onrender.com/home" target=”_blank”><i class="uil uil-dribbble"></i></a></div>
                <div class="icon"><a href="https://github.com/iamgrim07/Grim" target=”_blank”><i class="uil uil-github-alt"></i></a></div>
        </div>
        <div class="bottom-footer">
            <p>Copyright &copy; <a href="#home" style="text-decoration: none;">Sarankumar</a> - All rights reserved</p>
        </div>
    </footer>

    </div>
    <script>
          function myMenuFunction(){
      var menuBtn = document.getElementById("myNavMenu");
      if(menuBtn.className === "nav-menu"){
        menuBtn.className += " responsive";
      } else {
        menuBtn.className = "nav-menu";
      }
    };

    document.getElementById('sendMail').addEventListener('click', async function() {
        let response = await fetch('users/sendMail');
    });
    document.getElementById('sendMail').addEventListener('click', async function() {
        alert('Mail sent successfully!');
    });

    </script>
</body>
</html>
