<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="icon" href="https://i.postimg.cc/Y9kpSNhL/live-chat.png">

    <style>
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    max-width: 960px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #6610f2;
}

.chat-icon {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -25px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.chat-icon:hover {
    opacity: 1;
}

.message-list {
    list-style: none;
    padding: 0;
}

.message {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.profile-image {
    float: left;
    margin-right: 15px;
}

.user-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-content {
    overflow: hidden;
}

strong {
    font-weight: bold;
    color: #6610f2;
}

</style>
</head>
<body>
    <div class="container">
        <h1 class="header">Messages</h1>
        <img src="https://i.postimg.cc/Y9kpSNhL/live-chat.png" alt="Chat icon" class="chat-icon">
        <ul class="message-list">
            {{#each messages}}
                <li class="message">
                    <div class="profile-image">
                        <img src="https://i.postimg.cc/4ddrMCpN/bussiness-man.png" alt="User profile" class="user-profile-img">
                    </div>
                    <div class="message-content">
                        <strong>Name:</strong> {{this.name}}<br><br>
                        <strong>Email:</strong> {{this.email}}<br><br>
                        <strong>Message:</strong> {{this.message}}<br>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</body>
</html>

